body {
  background-color: #ecf0f1;
}
.btn {
  cursor: pointer;
}

body {
  color: #2c3e50;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings{
  display:none;
}
.showing{
  display:block;
}

@keyframes fadeIn{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
.bgImage{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
  animation:fadeIn 0.5s linear;
}
